@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'igra';
    src: url('../fonts/igrasans-webfont.woff2') format('woff2'),
         url('../fonts/igrasans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}

.hero-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    position: absolute;
    left: 5vw;
}

.text {
    font-family: 'igra', sans-serif;
    color: #FFFFFF;
    font-size: 13vw;
    width: 100%;
}

.text > .path {
    position: relative;
    left: 34vw;
}
.text > .right{
    position: relative;
    left: 35vw;
}
.text > .bracket{
    color: #FF4D00;
}
h2{
    left: -11vw;
    font-family: 'montserrat', sans-serif;
    font-size: 11vw;
    color: #FF4D00;
}
.about{
    position: relative;
    top: 106vh;
}
h2 > span{
    color: #FFFFFF;
}

p{
    color: #adadad;
    font-family: 'montserrat', sans-serif;
    font-size: 7vw;
    position: relative;
    top: 110vh;
    left: 7vw;
    width: 86%;
}

.team{
    position: relative;
    top: 164vh;
}

.team-para{
    top: 154vh;
}
img{
    position: relative;
    top: 119vh;
    left: -12vw;
    object-fit: contain;
    height: 22vh;
}
.event{
    position: relative;
    top: 126vh;
    color: #FFFFFF;
    font-family: 'igra', sans-serif;
    font-size: 9vw;
    left: 3vw;
}
.event > span{
    color: #FF4D00;
}
.details{
    position: relative;
    top: 118vh;
    color: #adadad;
    font-family: 'montserrat', sans-serif;
    font-size: 6vw;
    left: 3vw;
    text-align: center;
    width: 100%;
    margin-bottom: 1vh;
}
.rgstr{
    position: relative;
    top: 154vh;
    font-family: 'igra', sans-serif;
    font-size: 9vw;
    left: 3vw;
    background-color: #FF4D00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 59vw;
}
.rgstr > a{
    color: #FFFFFF;
    text-decoration: none;
}
.team-members{
    position: absolute;
    top: 149vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.team-members > .member{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 7vh;
}
.team-members > .member > h3{
    font-family: 'igra', sans-serif;
    font-size: 6vw;
    color: #FFFFFF;
    position: absolute;
    top: 124vh;
    left: 16vw;
    display: block;
    width: 165%;
}
.team-members > .member > h3 > span{
    color: #FF4D00;
}
#sec{
    top: 146vh;
    left: -22vw;
}
#thi{
    top: 168vh;
    left: 19vw;
    width: 156%;
}
.team-members > .member > img{
    position: relative;
    top: 120vh;
    left: -22vw;
    object-fit: cover;
    height: 15vh;
    border-radius: 50%;
}
#sec-img{
    left: 29vw;
}
.pole{
    position: absolute;
    top: 333vh;
    left: 0;
    height: 39vh;
    object-fit: contain;
}